// import bootstrap
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

$colsMinHeight: 400px;

div.chaptersCol {
	min-height: $colsMinHeight;
}

div.mainTextCol {
	min-height: $colsMinHeight;
}